* {
    text-decoration: none;
    text-align: center;
}
.content {
    width: 1000px;
    margin: 0 auto;
}
.block {
    width: 600px;
    border: 2px solid grey;
    margin: 0 auto;
    margin-top: 20px;
}

h4 {
    text-align: center;
}

h1 {
    margin-left: 0px;
    color: olive;
}

em {
    margin-left: 62%;
}

#ajaxButton {
    margin-left: 46.9%;
}

.pagi {
    margin-top: 13px;
    margin-bottom: 10px;
}
.pagi a {
    font: 18px Myriad, sans-serif;
    text-transform: uppercase;
    width: 40px;
    height: 60px;
    background-color: #ff8207;
    border-radius: 6px;
    color: white;
    padding: 6px 12px;
    text-align: center;
    margin-left: 20px;
/*    margin-top: 50px;*/
}
.pagi a:hover {
    opacity:.85;
    cursor: pointer;
}

.pagi a.active {
    background-color: #4d9caf;
    color: white;
}
